#btnProduits {
    float: right;
    margin-top: 2px;
}

.selectproduct{
    float: right;
    border-color: black;
    margin-top : -2%;
    margin-right: 1%;

}


#Produits{
    align-self: center;
    align-content: center;
    width: auto;
}

article{
    align-self: center;
    text-align: center;
    width: auto;
}

img {
    width: auto;
    max-width: 500px;
}
