body {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat top center;
    height: auto;
    background-size: cover;
}

.imageAccueil {
    vertical-align: middle;
    border-width: 2px;
    border-style: groove;
}

.image-accueil {
    position: relative;
    text-align: center;
    bottom: -20px;
}

.bouton {
    position: absolute;
    left: 734px;
    bottom: 60px;
}

.fond_color {
    background-color: white;
    width: 1500px;
    height: 860px;
    position: absolute;
    left: 11%;
}